[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
ansible = "~=2.10"
dopy = "==0.3.3"
docker-py = "*"
passlib = "*"
pyyaml = "==4.2b4"

[requires]
python_version = "3.7"
