##User/Group to use after dropping root
User tinyproxy
Group tinyproxy

##Port and address to bind to
Port 8888
#Listen {{ ip_address }}

##File locations
Syslog On
LogLevel Info
PidFile "/run/tinyproxy/tinyproxy.pid"

##Authentication
BasicAuth sbaildon {{ tinyproxy.password }}

##HTTP Headers
ViaProxyName "server-hostname"
DisableViaHeader No

##Threading
StartServers 5
MinSpareServers 5
MaxSpareServers 20
MaxRequestsPerChild 0

##Connection
Timeout 600
MaxClients 100
