[NetDev]
Name=wg0
Kind=wireguard
Description=WireGuard tunnel wg0

[WireGuard]
ListenPort=51820
PrivateKey={{ private_key }}

[WireGuardPeer]
PublicKey=plRZD8jv0TX9QOhg2oVHpKvRs+s+1cr13hnE5L/4ySo=
AllowedIPs=10.192.122.2/32

[WireGuardPeer]
PublicKey=3h8diHNeLoDBncp8mmCgIpVJHFpiZE+so7lkq7sH83o=
AllowedIPs=10.192.122.3/32

[WireGuardPeer]
PublicKey=49UyaJmKfU2grabI5GXb94JrLt5eIJL0fjER5JyNrjI=
AllowedIPs=10.192.122.4/32
