[NetDev]
Name=wg0
Kind=wireguard
Description=WireGuard tunnel wg0

[WireGuard]
ListenPort=51820
PrivateKey={{ private_key }}

[WireGuardPeer]
PublicKey=9LgGNDAZyroD1Us3uHdOLQRhfA4chQAM/jM+tGpOLCU=
AllowedIPs=10.192.122.2/32

[WireGuardPeer]
PublicKey=BYfHZyFGaopi/nlxHLd0kFM+a+4h6/wnGeL66so/90c=
AllowedIPs=10.192.122.3/32

[WireGuardPeer]
PublicKey=at1bpJnXHrM64gXQcqB0bngElStLd/K8K6uADLz130U=
AllowedIPs=10.192.122.4/32
